extends layout
block content
    // / Intro Single star /
    section.intro-single
      .container
        .row
          .col-md-12.col-lg-8
            .title-single-box
              h1.title-single Our Amazing Houses
          .col-md-12.col-lg-4
            nav.breadcrumb-box.d-flex.justify-content-lg-end(aria-label='breadcrumb')
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='/') Home
                li.breadcrumb-item.active(aria-current='page')
                  | Houses
    // / Intro Single End /
    // / Property Grid Star /
    section.property-grid.grid
      .container
        .row
          .col-sm-12
            .grid-option
              form
                select.custom-select
                  option(selected='') All
                  option(value='1') New to Old
                  option(value='2') For Rent
                  option(value='3') For Sale
          .col-md-4
            .card-box-a.card-shadow
              .img-box-a
                img.img-a.img-fluid(src='img/property-1.jpg', alt='')
              .card-overlay
                .card-overlay-a-content
                  .card-header-a
                    h2.card-title-a
                      a(href='#')
                        | 204 Mount
                        br
                        |  Olive Road Two
                  .card-body-a
                    .price-box.d-flex
                      span.price-a rent | $ 12.000
                    a.link-a(href='property-single.html')
                      | Click here to view
                      span.ion-ios-arrow-forward
                  .card-footer-a
                    ul.card-info.d-flex.justify-content-around
                      li
                        h4.card-info-title Area
                        span
                          | 340m
                          sup 2
                      li
                        h4.card-info-title Beds
                        span 2
                      li
                        h4.card-info-title Baths
                        span 4
                      li
                        h4.card-info-title Garages
                        span 1
          .col-md-4
            .card-box-a.card-shadow
              .img-box-a
                img.img-a.img-fluid(src='img/property-3.jpg', alt='')
              .card-overlay
                .card-overlay-a-content
                  .card-header-a
                    h2.card-title-a
                      a(href='#')
                        | 204 Mount
                        br
                        |  Olive Road Two
                  .card-body-a
                    .price-box.d-flex
                      span.price-a rent | $ 12.000
                    a.link-a(href='property-single.html')
                      | Click here to view
                      span.ion-ios-arrow-forward
                  .card-footer-a
                    ul.card-info.d-flex.justify-content-around
                      li
                        h4.card-info-title Area
                        span
                          | 340m
                          sup 2
                      li
                        h4.card-info-title Beds
                        span 2
                      li
                        h4.card-info-title Baths
                        span 4
                      li
                        h4.card-info-title Garages
                        span 1
          .col-md-4
            .card-box-a.card-shadow
              .img-box-a
                img.img-a.img-fluid(src='img/property-6.jpg', alt='')
              .card-overlay
                .card-overlay-a-content
                  .card-header-a
                    h2.card-title-a
                      a(href='#')
                        | 204 Mount
                        br
                        |  Olive Road Two
                  .card-body-a
                    .price-box.d-flex
                      span.price-a rent | $ 12.000
                    a.link-a(href='property-single.html')
                      | Click here to view
                      span.ion-ios-arrow-forward
                  .card-footer-a
                    ul.card-info.d-flex.justify-content-around
                      li
                        h4.card-info-title Area
                        span
                          | 340m
                          sup 2
                      li
                        h4.card-info-title Beds
                        span 2
                      li
                        h4.card-info-title Baths
                        span 4
                      li
                        h4.card-info-title Garages
                        span 1
          .col-md-4
            .card-box-a.card-shadow
              .img-box-a
                img.img-a.img-fluid(src='img/property-7.jpg', alt='')
              .card-overlay
                .card-overlay-a-content
                  .card-header-a
                    h2.card-title-a
                      a(href='#')
                        | 204 Mount
                        br
                        |  Olive Road Two
                  .card-body-a
                    .price-box.d-flex
                      span.price-a rent | $ 12.000
                    a.link-a(href='property-single.html')
                      | Click here to view
                      span.ion-ios-arrow-forward
                  .card-footer-a
                    ul.card-info.d-flex.justify-content-around
                      li
                        h4.card-info-title Area
                        span
                          | 340m
                          sup 2
                      li
                        h4.card-info-title Beds
                        span 2
                      li
                        h4.card-info-title Baths
                        span 4
                      li
                        h4.card-info-title Garages
                        span 1
          .col-md-4
            .card-box-a.card-shadow
              .img-box-a
                img.img-a.img-fluid(src='img/property-8.jpg', alt='')
              .card-overlay
                .card-overlay-a-content
                  .card-header-a
                    h2.card-title-a
                      a(href='#')
                        | 204 Mount
                        br
                        |  Olive Road Two
                  .card-body-a
                    .price-box.d-flex
                      span.price-a rent | $ 12.000
                    a.link-a(href='property-single.html')
                      | Click here to view
                      span.ion-ios-arrow-forward
                  .card-footer-a
                    ul.card-info.d-flex.justify-content-around
                      li
                        h4.card-info-title Area
                        span
                          | 340m
                          sup 2
                      li
                        h4.card-info-title Beds
                        span 2
                      li
                        h4.card-info-title Baths
                        span 4
                      li
                        h4.card-info-title Garages
                        span 1
          .col-md-4
            .card-box-a.card-shadow
              .img-box-a
                img.img-a.img-fluid(src='img/property-10.jpg', alt='')
              .card-overlay
                .card-overlay-a-content
                  .card-header-a
                    h2.card-title-a
                      a(href='#')
                        | 204 Mount
                        br
                        |  Olive Road Two
                  .card-body-a
                    .price-box.d-flex
                      span.price-a rent | $ 12.000
                    a.link-a(href='property-single.html')
                      | Click here to view
                      span.ion-ios-arrow-forward
                  .card-footer-a
                    ul.card-info.d-flex.justify-content-around
                      li
                        h4.card-info-title Area
                        span
                          | 340m
                          sup 2
                      li
                        h4.card-info-title Beds
                        span 2
                      li
                        h4.card-info-title Baths
                        span 4
                      li
                        h4.card-info-title Garages
                        span 1
        .row
          .col-sm-12
            nav.pagination-a
              ul.pagination.justify-content-end
                li.page-item.disabled
                  a.page-link(href='#', tabindex='-1')
                    span.ion-ios-arrow-back
                li.page-item
                  a.page-link(href='#') 1
                li.page-item.active
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item.next
                  a.page-link(href='#')
                    span.ion-ios-arrow-forward
    // / Property Grid End /
    a.back-to-top(href='#')
      i.fa.fa-chevron-up
    #preloader
    // JavaScript Libraries
    script(src='/lib/jquery/jquery.min.js')
    script(src='/lib/jquery/jquery-migrate.min.js')
    script(src='/lib/popper/popper.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    script(src='/lib/easing/easing.min.js')
    script(src='/lib/owlcarousel/owl.carousel.min.js')
    script(src='/lib/scrollreveal/scrollreveal.min.js')
    script(src='/js/main.js')
