extends layout
block content
    p Profile page
    // JavaScript Libraries
    script(src='/lib/jquery/jquery.min.js')
    script(src='/lib/jquery/jquery-migrate.min.js')
    script(src='/lib/popper/popper.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    script(src='/lib/easing/easing.min.js')
    script(src='/lib/owlcarousel/owl.carousel.min.js')
    script(src='/lib/scrollreveal/scrollreveal.min.js')
    script(src='/js/main.js')
