extends layout
block content
    // / Intro Single star /
    section.intro-single
      .container
        .row
          .col-md-12.col-lg-8
            .title-single-box
              h1.title-single Reset password
              span.color-text-a
                | Check your email and enter the pin below.
    // / Intro Single End /
    
    section(style='height:50vh;')
      .container
        #resetPasswordForm
          form
            .form-group
              label(for='email' style='font-size: 0.9em; color: black;') Email address
              input#email.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email' style='max-width: 450px;')
          button.customButton(onclick='resetPasswordRequest();' style='background: #0095F1; color: white; border: none; border-radius: 3px; padding: 10px 30px; cursor: pointer;') 
            #nextStep RESET
            .loader(style='height: 1px; padding-bottom: 25px; display: none;')
              span.loader__dot .
              span.loader__dot .
              span.loader__dot .
        #afterSuccess(style='display: none;')
          a(onclick='/agent/login' style='background: #0095F1; color: white; border: none; border-radius: 3px; padding: 10px 30px; cursor: pointer;') Login
    a.back-to-top(href='#')
      i.fa.fa-chevron-up
    #preloader
    #snackbar
    // JavaScript Libraries
    script(src='/lib/jquery/jquery.min.js')
    script(src='/lib/jquery/jquery-migrate.min.js')
    script(src='/lib/popper/popper.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    script(src='/lib/easing/easing.min.js')
    script(src='/lib/owlcarousel/owl.carousel.min.js')
    script(src='/lib/scrollreveal/scrollreveal.min.js')
    script(src='/js/main.js')
    script(src='/js/toast.js')
